#### **RF1 - Listagem de todos os times da NBA agrupados por Conferência**

In [4]:
import pandas as pd

eastern_teams = pd.read_csv('../data/processed/eastern_conference_teams.csv')
western_teams = pd.read_csv('../data/processed/western_conference_teams.csv')

print("Times da Conferência Leste:")
display(eastern_teams.head())

print("Times da Conferência Oeste:")
display(western_teams.head())

Times da Conferência Leste:

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
4,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988

Times da Conferência Oeste:

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
1,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
2,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
3,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
4,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967

#### **RF2 - Apresentação da classificação atual dos times [Agrupados por Conferência]**

In [ ]:
import os

def load_games_data(data_dir='../data/raw'):
    games_data = []
    for filename in os.listdir(data_dir):
        if filename.endswith('_games.csv'):
            team_name = filename.replace('_games.csv', '').replace('_', ' ')
            team_data = pd.read_csv(os.path.join(data_dir, filename))
            team_data['team_name'] = team_name
            games_data.append(team_data)
    return pd.concat(games_data, ignore_index=True)

games_data = load_games_data()
print("Dados dos jogos carregados:")
display(games_data.head())

def calculate_standings(games_data):
    standings = games_data.groupby('team_name').agg(
        wins=pd.NamedAgg(column='WL', aggfunc=lambda x: (x == 'W').sum()),
        losses=pd.NamedAgg(column='WL', aggfunc=lambda x: (x == 'L').sum())
    ).reset_index()
    standings['win_percentage'] = standings['wins'] / (standings['wins'] + standings['losses'])
    standings = standings.sort_values(by='win_percentage', ascending=False).reset_index(drop=True)
    return standings


standings = calculate_standings(games_data)
print("Classificação dos times:")
display(standings.head())

team_conferences = {
    'Atlanta Hawks': 'East', 'Boston Celtics': 'East', 'Cleveland Cavaliers': 'East', 
    'New Orleans Pelicans': 'West', 'Chicago Bulls': 'East', 'Dallas Mavericks': 'West', 
    'Denver Nuggets': 'West', 'Golden State Warriors': 'West', 'Houston Rockets': 'West', 
    'Los Angeles Clippers': 'West', 'Los Angeles Lakers': 'West', 'Miami Heat': 'East', 
    'Milwaukee Bucks': 'East', 'Minnesota Timberwolves': 'West', 'Brooklyn Nets': 'East', 
    'New York Knicks': 'East', 'Orlando Magic': 'East', 'Indiana Pacers': 'East', 
    'Philadelphia 76ers': 'East', 'Phoenix Suns': 'West', 'Portland Trail Blazers': 'West', 
    'Sacramento Kings': 'West', 'San Antonio Spurs': 'West', 'Oklahoma City Thunder': 'West', 
    'Toronto Raptors': 'East', 'Utah Jazz': 'West', 'Memphis Grizzlies': 'West', 
    'Washington Wizards': 'East', 'Detroit Pistons': 'East', 'Charlotte Hornets': 'East'
}

standings['conference'] = standings['team_name'].map(team_conferences)

eastern_standings = standings[standings['conference'] == 'East']
western_standings = standings[standings['conference'] == 'West']

print("Classificação da Conferência Leste:")
display(eastern_standings)

print("\nClassificação da Conferência Oeste:")
display(western_standings)

Dados dos jogos carregados:

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,team_name
0,22024,1610612737,ATL,Atlanta Hawks,22400612,2025-01-22,ATL vs. DET,L,241,104,...,15.0,32.0,47.0,25,14.0,3,13,14,-10.0,Atlanta Hawks
1,22024,1610612737,ATL,Atlanta Hawks,22400602,2025-01-20,ATL @ NYK,L,239,110,...,16.0,25.0,41.0,23,10.0,6,23,21,-9.0,Atlanta Hawks
2,22024,1610612737,ATL,Atlanta Hawks,22400587,2025-01-18,ATL @ BOS,W,265,119,...,13.0,42.0,55.0,27,9.0,10,17,17,4.0,Atlanta Hawks
3,22024,1610612737,ATL,Atlanta Hawks,22400563,2025-01-15,ATL @ CHI,W,240,110,...,14.0,37.0,51.0,28,11.0,5,9,15,16.0,Atlanta Hawks
4,22024,1610612737,ATL,Atlanta Hawks,22400556,2025-01-14,ATL vs. PHX,W,241,122,...,20.0,34.0,54.0,22,10.0,3,12,21,5.0,Atlanta Hawks

Classificação dos times:

            team_name  wins  losses  win_percentage
0  Los Angeles Lakers  2358    1657        0.587298
1   San Antonio Spurs  2298    1615        0.587273
2      Boston Celtics  2255    1709        0.568870
3           Utah Jazz  2175    1672        0.565376
4     Houston Rockets  2101    1714        0.550721

Classificação da Conferência Leste:

              team_name  wins  losses  win_percentage conference
2        Boston Celtics  2255    1709        0.568870       East
8            Miami Heat  1832    1637        0.528106       East
9         Chicago Bulls  2014    1808        0.526949       East
11       Indiana Pacers  1930    1853        0.510177       East
12      Detroit Pistons  1931    1878        0.506957       East
14  Cleveland Cavaliers  1880    1888        0.498938       East
15      Milwaukee Bucks  1853    1902        0.493475       East
16        Atlanta Hawks  1840    1906        0.491191       East
18      Toronto Raptors  1286    1394        0.479851       East
19      New York Knicks  1795    1957        0.478412       East
20   Philadelphia 76ers  1801    1975        0.476960       East
21        Orlando Magic  1496    1675        0.471775       East
26        Brooklyn Nets  1590    2101        0.430778       East
27    Charlotte Hornets  1293    1731        0.427579       East
29   Washington Wizards  1503    2138        0.412799       East

Classificação da Conferência Oeste:

                 team_name  wins  losses  win_percentage conference
0       Los Angeles Lakers  2358    1657        0.587298       West
1        San Antonio Spurs  2298    1615        0.587273       West
3                Utah Jazz  2175    1672        0.565376       West
4          Houston Rockets  2101    1714        0.550721       West
5    Oklahoma City Thunder  2090    1716        0.549133       West
6             Phoenix Suns  2056    1747        0.540626       West
7   Portland Trail Blazers  2017    1769        0.532752       West
10        Dallas Mavericks  1970    1843        0.516654       West
13          Denver Nuggets  1882    1875        0.500932       West
17   Golden State Warriors  1843    1917        0.490160       West
22    New Orleans Pelicans   960    1121        0.461317       West
23       Memphis Grizzlies  1204    1488        0.447251       West
24    Los Angeles Clippers  1605    2073        0.436378       West
25        Sacramento Kings  1580    2069        0.432995       West
28  Minnesota Timberwolves  1318    1812        0.421086       West